body {
	margin: 0;
	padding: 0;
	background-color: #fcfcfc;
}

.catBlock {
	column-count: 4;
	column-gap: 20px;
	row-gap: 20px;
	padding: 20px;
}

.catItem {
	background-color: #2d2a5c;
	border-radius: 10px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
	margin-bottom: 20px;
}

.catItem img {
	width: 100%;
	display: block;
}
